{
	"swagger": "2.0",
	"info": {
		"title": "Docomono API",
		"description": "We provide photo collection API just to enable the customer to save his memories on the cloud based storage system and we provide character recognition API in order to recognize the characters that appear with an image, etc. You can choose the APIs that best match your service concept to start developing innovate apps.",
		"termsOfService": "https:\/\/dev.smt.docomo.ne.jp\/?p=policy",
		"version": "v1"
	},
	"host": "api.apigw.smt.docomo.ne.jp",
	"basePath": "\/",
	"schemes": ["http"],
	"produces": ["application\/json"],
	"consumes": ["application\/json"],
	"paths": {
		"\/1\/friends\/bidirectional\/allowed": {
			"get": {
				"summary": "Tsunagari Information Acquisition",
				"description": "This API enables you to get IDs of your friends who allow you to view their information through Friend Notification Settings.*IDs you can get are only those of your friends linked to the service (client_id) to which you are also linked.*In case end-user has many number of Tsunagari information, it may take long time to get API response.",
				"operationId": "tsunagari-information-acquisition",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data",
					"type": "string"
				},
				{
					"in": "query",
					"name": "err_cd",
					"description": "Always indicates 0 when successful.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Host",
					"description": "Specifies the Request Host.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "param_name",
					"description": "Sets the physical item name of the request item when the location of the error can be identified by the request item.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "param_value",
					"description": "Sets the value of the error item in which an error occurs when the location of the error can be identified by the request item.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "result",
					"description": "Always indicates 0 when successful.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "User-Agent",
					"description": "Specifies the User Agent identifier.",
					"type": "string"
				}],
				"responses": {
					"Internal process error": {
						"description": "Returned when an internal process error occurs. - Returned when an internal process error occurs."
					},
					"Timeout": {
						"description": "Returned when a timeout occurs.In case it takes three-hundred seconds to get response, it gets time out. - Returned when a timeout occurs.In case it takes three-hundred seconds to get response, it gets time out."
					},
					"Friend notification settings off": {
						"description": "Returned when the Friend Notification Settings are turned OFF. - Returned when the Friend Notification Settings are turned OFF."
					},
					"d account unavailable": {
						"description": "Returned when the d account usage settings are turned OFF. - Returned when the d account usage settings are turned OFF."
					},
					"OK": {
						"description": "Returned when the processing is successful. - Returned when the processing is successful."
					},
					"invalid_request": {
						"description": "Returned when a necessary parameter is missing or an invalid parameter is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when a necessary parameter is missing or an invalid parameter is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"invalid_token": {
						"description": "Returned when the access token is no longer valid.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when the access token is no longer valid.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"insufficient_scope": {
						"description": "Returned when an unsupported scope is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when an unsupported scope is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"Bad Request": {
						"description": "Returned when the syntax of the request is incorrect. - Returned when the syntax of the request is incorrect."
					},
					"Method Not Allowed": {
						"description": "Returned when the specified method is not allowed. - Returned when the specified method is not allowed."
					},
					"Request Timeout": {
						"description": "turned when the request is not completed in time. - turned when the request is not completed in time."
					},
					"Internal Server Error": {
						"description": "Returned when an internal error occurs in the server. - Returned when an internal error occurs in the server."
					},
					"Service Unavailable": {
						"description": "Returned when the request cannot be processed for a reason on the server side. - Returned when the request cannot be processed for a reason on the server side."
					}
				},
				"tags": ["Directions"],
				"security": []
			}
		},
		"\/1\/tempimage\/profile\/add ": {
			"post": {
				"summary": "Add Images",
				"description": "The Add Contact API enables you to add images to contact data. To add an image, you need to upload it to the URL shown below in advance.When you get a temporary URL for the image, specify the URL as the photo.photo_url parameter for the Add Contact API.If you do not want to set the image for the contact, specify (NUL) for the photo.photo_url parameter.",
				"operationId": "add-images",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Length",
					"description": "Specifies the data size of the Request(In bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type: One of the following 3:image\/jpeg : JPEG imageimage\/gif : GIF imageimage\/png : PNG image",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data",
					"type": "string"
				},
				{
					"in": "query",
					"name": "err_cd",
					"description": "Always indicates 0 when successful.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Host",
					"description": "Specifies the Request Host.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "param_name",
					"description": "Sets the physical item name of the request item when the location of the error can be identified by the request item.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "param_value",
					"description": "Sets the value of the error item in which an error occurs when the location of the error can be identified by the request item.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "result",
					"description": "Always indicates 0 when successful.",
					"type": "string"
				}],
				"responses": {
					"Internal process error": {
						"description": "Returned when an internal process error occurs. - Returned when an internal process error occurs."
					},
					"Timeout": {
						"description": "Returned when a timeout occurs. - Returned when a timeout occurs."
					},
					"Friend notification settings off": {
						"description": "Returned when the Friend Notification Settings are turned OFF. - Returned when the Friend Notification Settings are turned OFF."
					},
					"d account unavailable": {
						"description": "Returned when the d account usage settings are turned OFF. - Returned when the d account usage settings are turned OFF."
					},
					"OK": {
						"description": "Returned when the processing is successful. - Returned when the processing is successful."
					},
					"invalid_request": {
						"description": "Returned when a necessary parameter is missing or an invalid parameter is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when a necessary parameter is missing or an invalid parameter is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"invalid_token": {
						"description": "Returned when the access token is no longer valid.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when the access token is no longer valid.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"insufficient_scope": {
						"description": "Returned when an unsupported scope is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when an unsupported scope is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"Bad Request": {
						"description": "Returned when the syntax of the request is incorrect. - Returned when the syntax of the request is incorrect."
					},
					"Method Not Allowed": {
						"description": "Returned when the specified method is not allowed. - Returned when the specified method is not allowed."
					},
					"Request Timeout": {
						"description": "turned when the request is not completed in time. - turned when the request is not completed in time."
					},
					"Internal Server Error": {
						"description": "Returned when an internal error occurs in the server. - Returned when an internal error occurs in the server."
					},
					"Service Unavailable": {
						"description": "Returned when the request cannot be processed for a reason on the server side. - Returned when the request cannot be processed for a reason on the server side."
					},
					"Parameter error": {
						"description": "Returned when a parameter error occurs. - Returned when a parameter error occurs."
					}
				},
				"tags": ["Images"],
				"security": []
			}
		},
		"\/aiTalk\/v1\/textToSpeech": {
			"post": {
				"summary": "JEITA Cana",
				"description": "",
				"operationId": "jeita-cana",
				"parameters": [{
					"in": "query",
					"name": "Accept",
					"description": "MIME type of the received data, specify the following.audio \/ L16",
					"type": "string"
				},
				{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Audiodata",
					"description": "As format of the following audio data.[Encoding]linear PCM[number of channels]1 (monaural)[sample frequency]16000[bit depth]16bit (big-endian)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Length",
					"description": "It specifies the length of the request body (in byte).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the following.text \/ x-jeita-6004- kana: JEITACanau203b 3",
					"type": "string"
				},
				{
					"in": "query",
					"name": "transfer-encoding",
					"description": "Return the following.Chunked",
					"type": "string"
				}],
				"responses": {
					"Internal process error": {
						"description": "Returned when an internal process error occurs. - Returned when an internal process error occurs."
					},
					"Timeout": {
						"description": "Returned when a timeout occurs. - Returned when a timeout occurs."
					},
					"Friend notification settings off": {
						"description": "Returned when the Friend Notification Settings are turned OFF. - Returned when the Friend Notification Settings are turned OFF."
					},
					"d account unavailable": {
						"description": "Returned when the d account usage settings are turned OFF. - Returned when the d account usage settings are turned OFF."
					},
					"OK": {
						"description": "Returned when the processing is successful. - Returned when the processing is successful."
					},
					"invalid_request": {
						"description": "Returned when a necessary parameter is missing or an invalid parameter is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when a necessary parameter is missing or an invalid parameter is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"invalid_token": {
						"description": "Returned when the access token is no longer valid.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when the access token is no longer valid.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"insufficient_scope": {
						"description": "Returned when an unsupported scope is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header. - Returned when an unsupported scope is specified.Error specification is informed with error={u540du524d} on WWW-Authenticate header."
					},
					"Bad Request": {
						"description": "Returned when the syntax of the request is incorrect. - Returned when the syntax of the request is incorrect."
					},
					"Method Not Allowed": {
						"description": "Returned when the specified method is not allowed. - Returned when the specified method is not allowed."
					},
					"Request Timeout": {
						"description": "turned when the request is not completed in time. - turned when the request is not completed in time."
					},
					"Internal Server Error": {
						"description": "Returned when an internal error occurs in the server. - Returned when an internal error occurs in the server."
					},
					"Service Unavailable": {
						"description": "Returned when the request cannot be processed for a reason on the server side. - Returned when the request cannot be processed for a reason on the server side."
					},
					"Parameter error": {
						"description": "Returned when a parameter error occurs. - Returned when a parameter error occurs."
					},
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Speech"],
				"security": []
			}
		},
		"\/aiTalk\/v1\/textToSpeech_": {
			"post": {
				"summary": "SSML",
				"description": "",
				"operationId": "ssml",
				"parameters": [{
					"in": "query",
					"name": "Date",
					"description": "Text indicating that a date.The letters, will depend on the format.format = y \/ m  \/ dcan be specified character, single-byte numbers only.format = ym \/ my  \/ md \/ dm \/ ymd \/ dmy \/ mdyPossible characters, half-width numbers and single-byte symbol \/ (shaded \/ slash) &middot;  - (minus \/ hyphen) only.Sample value) &lt;say-as interpret-as = date format = ymd&gt; 2012\/04\/05 &lt;\/ say-as&gt;",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Telephone",
					"description": "Text indicating that a telephone number.For possible character, single-byte numbers and byte symbols ( (left parenthesis) ) (right parenthesis), - (minus \/ hyphen) -  (space \/ blank) only.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Time",
					"description": "Indicating that text is time.The letters, will depend on the format.The [AMPM specified] here, it refers to the half-width of the am \/ pm \/ AM \/it to describe a string of PM at the beginning or end of the text.This is, am ( pm )and if it is specified, AMR (pm), AM ( PM )if it had been specified is the instructions read aloud as morning (afternoon). .format = h12can be specified character is, only and half the number AMPM specified.format = h \/ m  \/ scan be specified character, single-byte numbers only.format = hm \/ ms  \/ hmsPossible characters, half-width numbers and single-byte symbol : (colon), - only (minus \/ hyphen).format = hm12 \/ hms12 for possible character, single-byte numbers and single-byte symbol : (colon), - (minus \/ hyphen) and only AMPM specified.Sample value) &lt;say-as interpret-as = time format = hm12&gt; AM12: 34 &lt;\/ say-as&gt;",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Break",
					"description": "Pause or empty element to control the prosody of the boundaries between other tokens.The &lt;break&gt; element, can not be anything including.Sample value)yawing&lt;break time = 3000ms \/ &gt;Don",
					"type": "string"
				},
				{
					"in": "query",
					"name": "P",
					"description": "Element representing a paragraph.Immediately before and after this element will be the end of a sentence treat.The &lt;p&gt; element, text and &lt;break&gt;, &lt;p&gt;, &lt;phoneme&gt;, &lt;prosody&gt;, &lt;say-as&gt;, &lt;sub&gt;, &lt;s&gt;, &lt;token&gt;, &lt;voice&gt;, &lt;w&gt;It may include only the elements.Sample value) &lt;p&gt; good morning &lt;\/ p&gt; &lt;p&gt; night &lt;\/ p&gt;",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Phoneme",
					"description": "Elements that grant the pronunciation on the phoneme \/ pronunciation to the text.The &lt;phoneme&gt; element can contain only text.It may be empty.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Prosody",
					"description": "Audio output of the pitch (height), reading speed (speech speed), elements that perform, such as control of volume.The &lt;prosody&gt; element, text and &lt;break&gt;, &lt;p&gt;, &lt;phoneme&gt;, &lt;prosody&gt;, &lt;say-as&gt;, &lt;sub&gt;, &lt;s&gt;, &lt;token&gt;, &lt;voice&gt;, &lt;w&gt;It may include only the elements.Sample value)&lt;Prosody Rate = 0.8&gt;&lt;Prosody Pitch = 1.3&gt; er &lt;\/ Prosody&gt;&lt;Prosody Pitch = 1.4 Volume = 1.2&gt; only over over &lt;\/ Prosody&gt;&lt;Prosody Pitch = 1.5 volume = 0.6&gt; and over over &lt;\/ Prosody&gt;&lt;Prosody Pitch = 1.6 Volume = 1.1&gt; Su - over &lt;\/ Prosody&gt;&lt;\/ Prosody&gt;",
					"type": "string"
				},
				{
					"in": "query",
					"name": "S",
					"description": "Element that represents a statement.Can not be inserted into the end of a sentence symbol is within the scope of this element, immediately before and after the element is the end of a sentence treat.The &lt;s&gt; element, text and &lt;break&gt;, &lt;phoneme&gt;, &lt;say-as&gt;, &lt;sub&gt;, &lt;token&gt;,can contain only elements of &lt;w&gt;.Sample value) &lt;s&gt; Hello &lt;\/ s&gt; &lt;s&gt; Goodbye &lt;\/ s&gt;",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Say-as",
					"description": "Element that shows information about the type of text constructs in the element.This element serves to specify the level of detail of the descriptive text can provide reading how tips.The &lt;say-as&gt; element may include only specific text.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Speak",
					"description": "SSML root element.The &lt;speak&gt; element, text and &lt;break&gt;, &lt;p&gt;, &lt;phoneme&gt;, &lt;prosody&gt;, &lt;say-as&gt;, &lt;sub&gt;, &lt;s&gt;, &lt;token&gt;, &lt;voice&gt;, &lt;w&gt;It may include only the elements.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Sub",
					"description": "Elements indicating that to be replaced the text to another text.This element can include a text description format, both text for speech.The &lt;sub&gt; element can contain only text.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Token",
					"description": "&lt;token The&gt; elements that represent the token.&lt;w&gt; element of &lt;token&gt; element alias.This element, indicates that this content is talk, it is possible to remove the ambiguity of the separator of token (word).The &lt;token The&gt; element can contain only text.Sample value) &lt;token&gt; Tokyo &lt;\/ token&gt; &lt;w&gt; patent &lt;\/ w&gt; &lt;w&gt; Allow &lt;\/ w&gt;",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Voice",
					"description": "Element to request the change of text-to-speech.&lt;voice&gt; The elements, text and &lt;break&gt;, &lt;p&gt;, &lt;phoneme&gt;, &lt;prosody&gt;, &lt;say-as&gt;, &lt;sub&gt;, &lt;s&gt;, &lt;token&gt;, &lt;voice&gt;, &lt;w&gt;It may include only the elements.Sample value) &lt;voice name = nozomi &gt;Hello &lt;\/ voice&gt;",
					"type": "string"
				},
				{
					"type": "string"
				},
				{
					"in": "query",
					"name": "Accept",
					"description": "MIME type of the received data, specify one of the following.audio \/ L16: return the voice data (Binary).application \/ x-aitalk-kana: intermediate language (AI Kana)u203b 2return in a text.text \/ x-jeita-6004- kana: JEITAKanau203b 3return in a text.u203b For more information about the article in the intermediate language (AI Kana), hereinquiryPlease request a specification from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Audiodata",
					"description": "In the Accept request header, return if you specify the audio \/ L16.As format of the following audio data.[Encoding]linear PCM[number of channels]1 (monaural)[sample frequency]16000[bit depth]16bit (big-endian)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Length",
					"description": "It specifies the length of the request body (in byte).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the following.application \/ ssml + xml: Japanese SSML format",
					"type": "string"
				},
				{
					"in": "query",
					"name": "format",
					"description": "Specify attribute the format of the specified content in the interpret-as.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Intermediatelanguage(AIKana)",
					"description": "In the Accept request header, if you specify the application \/ x-aitalk-kana, return the intermediate language (AI Kana).u203b For more information about the article in the intermediate language (AI Kana), hereinquiryPlease request a specification from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "JEITACana",
					"description": "If you specify a text \/ x-jeita-6004-kana in the Accept request header, return the JEITA Cana.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "range",
					"description": "Attributes that control the pitch range to read aloud the text.The reference value is 1.0, it can be specified in the range of 0.00 to 2.00 (can be specified point to the second place).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "rate",
					"description": "Attributes that control the rate at which read aloud the text.The reference value is 1.0, it can be specified in the range of 0.50 to 4.00 (can be specified point to the second place).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "transfer-encoding",
					"description": "If you specify the audio \/ L16 in the Accept request header, return the following.Chunked",
					"type": "string"
				},
				{
					"in": "query",
					"name": "volume",
					"description": "Attributes that control the volume to read aloud the text.The reference value is 1.0, it can be specified in the range of 0.00 to 2.00 (can be specified point to the second place).",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Speech"],
				"security": []
			}
		},
		"\/app\/dcm_slb\/api\/0.8\/Generic2\/uploads\/{upload ID}\/data": {
			"put": {
				"summary": "Divided uploading(Divided upload)",
				"description": "Upload partitioned contents with UploadID.Specifies the Upload ID obtained by uploading of GSCT info. and obtaining UploadID, then sends a chunk by PUT. Chunks are sent in the binary format. The size is specified by using the content-range header.",
				"operationId": "divided-uploadingdivided-upload",
				"parameters": [{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.Seespecificationu300cu5171u901au898fu5b9a 2u300d (Common Specifications 2).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "content-range",
					"description": "Range of data to be sent (See RFC2616 for the format).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "if-match",
					"description": "Value specified in X-kii-ckient-hash at issuance of Upload ID.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-kii-appid",
					"description": "Fixed value DOCOMO",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-kii-appkey",
					"description": "Fixed value DOCOMO",
					"type": "string"
				},
				{
					"in": "query",
					"name": "{uploadID}",
					"description": "Upload IDs issued by the server.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Storage"],
				"security": []
			}
		},
		"\/box_a2\/3.0\/capacityinfo": {
			"get": {
				"summary": "Acquisition of Used Capacity of Storage",
				"description": "Obtains used capacity of cloud storage.",
				"operationId": "acquisition-of-used-capacity-of-storage",
				"parameters": [{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_used",
					"description": "Used capacity of data storage box (In bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "capacity",
					"description": "Contracted capacity (In bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "application\/json is returned.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "other_used",
					"description": "Used capacity of other services (In bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "unused",
					"description": "Unused capacity (In bytes).",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Storage"],
				"security": []
			}
		},
		"\/box_a2\/4.0\/create\/{path}": {
			"post": {
				"summary": "Creation of Folders",
				"description": "Creates new folders under the folder specified with path.",
				"operationId": "creation-of-folders",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies the application\/json.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_reason_cd",
					"description": "Indicates reasons for deleting files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_status_cd",
					"description": "Indicates deletion information of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "meta_info",
					"description": "Meta information.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Full path of file or folder name.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "owner_ap_cd",
					"description": "Code to identify the AP that issued the IF.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "revision",
					"description": "Serial number managing update information(1uff5e2147483647).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "share_status_cd",
					"description": "Shared status type code.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status_cd",
					"description": "Indicates status(Stored) of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type_cd",
					"description": "Distinguishes files and folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "update_date",
					"description": "Update date(yyyy\/mm\/dd hh:mm:ss Format).File: Date and time when new and update upload was completed. In case of copy-to files, date and time the copy was completed.Folder: Date and time when file folder creation was completed. In case of copy-to folders, date and time the copy was completed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "{path}",
					"description": "Assign path of folder which you make.Length limit is 159 words.Regardless of whether one-byte or two-byte, counted as one word.You have to describe absolute path from Data Storage BOX root by separating with \/.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Storage"],
				"security": []
			}
		},
		"\/box_a2\/4.0\/delete_all_": {
			"get": {
				"summary": "Deletion of Entire Data",
				"description": "Deletes all the folders and files of corresponding users.Note, however, that in case an owner AP code is entered, only the folders and files of applications speciied with the corresponding owner AP code are deleted.Except for data storage box application, deletes collaborating application folders succeeded in deletion of entire folders and files.",
				"operationId": "deletion-of-entire-data",
				"parameters": [{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "owner_ap_cd",
					"description": "Code to identify the AP that issued the IF.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "target_owner_ap_cd",
					"description": "Assign request owner AP code.Identify delete target AP.00000000 is not allowed.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Storage"],
				"security": []
			}
		},
		"\/box_a2\/4.0\/difference\/{path}": {
			"get": {
				"summary": "Acquisition of File\/Folder Difference Information",
				"description": "Obtains file\/folder difference information specifided with IDs and paths.",
				"operationId": "acquisition-of-filefolder-difference-information",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "attribute_cd",
					"description": "Code to indicate file attributes corresponding to acquisition.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.In case omitted: Obtain all the information including deletion.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_reason_cd",
					"description": "Indicates reasons for deleting files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_status_cd",
					"description": "Indicates deletion information of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "display_num",
					"description": "Maximum number of returns(1uff5e9999).In case acquisition results exceed this value, they are considered errors.In case omitted: Returns all the corresponding resultsIn case specified: Returns the specified number of results",
					"type": "string"
				},
				{
					"in": "query",
					"name": "hash_value",
					"description": "Hash values of files (Hash function is MD5).Does not exist in case of folders.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "meta_info",
					"description": "Meta information.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "meta_info_list",
					"description": "List of meta information.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "move_date",
					"description": "Final move update date and time(yyyy\/mm\/dd hh:mm:ss Format)Final date when the folders\/files under the specified folder moved.Null is set in case movement has not taken place.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Full path of file or folder names.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "owner_ap_cd",
					"description": "Code to identify the AP that issued the IF.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "revision",
					"description": "Revision number corresponding to difference acquisition(1uff5e2147483647).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "rev_flg",
					"description": "Flag to indicate whether subfolders are referenced.*The second layers and beyond also have recursive flags.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "share_status_cd",
					"description": "Shared status type code.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "size",
					"description": "File size.Does not exist in case of folders.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status_cd",
					"description": "Indicates status(Stored) of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type_cd",
					"description": "Distinguishes files and folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "update_date",
					"description": "Update date(yyyy\/mm\/dd hh:mm:ss Format).File: Date and time when new and update upload was completed. In case of copy-to files, date and time the copy was completed.Folder: Date and time when file folder creation was completed. In case of copy-to folders, date and time the copy was completed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "validation_date",
					"description": "Validation date(yyyy\/mm\/dd hh:mm:ss Format).Corresponding date regarding checking of expiration of valid period.In case of no specification, validation date checking is not performed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "{path}",
					"description": "Assign target path of meta-information.Length limit is 159 words.Regardless of whether one-byte or two-byte, counted as one word.(You can assign absolute path from Data Storage BOX root path by separating with \/.)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Storage"],
				"security": []
			}
		},
		"\/box_a2\/4.0\/storage\/{path}": {
			"post": {
				"summary": "Deletion of Files\/Folders",
				"description": "Logically deletes files\/folders specified with IDs , paths, and with\/without revision.In case folders are to be deleted, only the meta information of corresponding folders are returned.In case files\/folders to be deleted do not exist, it is considered an error.",
				"operationId": "deletion-of-filesfolders",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies the application\/json.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_info_list",
					"description": "List of information to be deleted.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_reason_cd",
					"description": "Indicates reasons for deleting files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_status_cd",
					"description": "Indicates deletion information of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "hash_value",
					"description": "Hash values of files (Hash function is MD5).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "meta_info_list",
					"description": "List of meta information.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "meta_info_total",
					"description": "Total number of meta information specified with the request.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Names of files\/folders to be deleted(Full path).See u4f7fu7528u53efu80fdu6587u5b57u3001u4f7fu7528u7981u6b62u6587u5b57u306bu3064u3044u3066(Allowed characters, prohibited characters) in thespecificationfor details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "owner_ap_cd",
					"description": "Code to identify the AP that issued the IF.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "revision",
					"description": "Revision number(1uff5e2147483647).Not specified: Delete without checking the revision.Specified: Delete by checking the revision.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "share_status_cd",
					"description": "Shared status type code.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "size",
					"description": "File size.Does not exist in case of folders.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status_cd",
					"description": "Indicates status(Stored) of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type_cd",
					"description": "Distinguishes files and folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "update_date",
					"description": "Update date(yyyy\/mm\/dd hh:mm:ss Format).File: Date and time when new and update upload was completed. In case of copy-to files, date and time the copy was completed.Folder: Date and time when file folder creation was completed. In case of copy-to folders, date and time the copy was completed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "{path}",
					"description": "Assign path of which it is deleted to parent folder.Length limit is 159 words.Regardless of whether one-byte or two-byte, counted as one word.You have to describe absolute path from Data Storage BOX root by separating with \/.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Storage"],
				"security": []
			},
			"put": {
				"summary": "Uploading",
				"description": "Uploads files specified with IDs and paths.",
				"operationId": "uploading",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "Authorization",
					"description": "OAuth authentication scheme.SeeAPI Common Reference2.3 for details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies the application\/octet-stream.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_reason_cd",
					"description": "Indicates reasons for deleting files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_status_cd",
					"description": "Indicates deletion information of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "division_no",
					"description": "Division number(1uff5e2147483647).First time: Return values ofpreparation for uploading(Division ID).From second time: Last set value +1",
					"type": "string"
				},
				{
					"in": "query",
					"name": "hash_value",
					"description": "Hash values of files (Hash function is MD5).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "meta_info",
					"description": "Meta information.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Full path of file or folder names.Renamed in case HTTP status is 201.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "owner_ap_cd",
					"description": "Code to identify the AP that issued the IF.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "revision",
					"description": "Revision number(1uff5e2147483647).At new uploading: Not specified.At uploading updates: Specified.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "share_status_cd",
					"description": "Shared status type code.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "size",
					"description": "File size.Does not exist in case of folders.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status_cd",
					"description": "Indicates status(Stored) of files\/folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type_cd",
					"description": "Distinguishes files and folders.See u30b3u30fcu30c9u5b9au7fa9(Code definition) in thespecificationfor description of setting values.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "update_date",
					"description": "Update date(yyyy\/mm\/dd hh:mm:ss Format).File: Date and time when new and update upload was completed. In case of copy-to files, date and time the copy was completed.Folder: Date and time when file folder creation was completed. In case of copy-to folders, date and time the copy was completed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "{path}",
					"description": "Assign target upload file path.Length limit is 159 words.Regardless of whether one-byte or two-byte, counted as one word.(Describe absolute path from Data Storage BOX root path by separating with \/.)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Storage"],
				"security": []
			}
		},
		"\/characterRecognition\/v1\/document": {
			"post": {
				"summary": "Text image recognition request",
				"description": "Make the acquisition of the character region and the word from the image acquired by the scanner and screen capture (text image).&nbsp;It does not support handwriting and design character.&nbsp;Recognition corresponding language is Japanese, English.&nbsp;Text image recognition request is available up to 500 times per day with a single API key.&nbsp;u203b available number of times are subject to change without notice.&nbsp;Please note.&nbsp;If you exceed the usage limit, you can not send a new text image recognition request request with the API key until it is canceled automatically to the next day.&nbsp;",
				"operationId": "text-image-recognition-request",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "@Queue-time",
					"description": "Reception time of the request (yyyy \/ mm \/ dd hh: mm: ssformat).Sample value) 2013\/10\/22 13:11:25",
					"type": "string"
				},
				{
					"in": "query",
					"name": "@status",
					"description": "The current state of the recognition jobs, return any of the following.Request acceptance already: queuerecognition processing in: processtreatment success: successtreatment failure: failureDeleted: deleted",
					"type": "string"
				},
				{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the following.multipart \/ form-data",
					"type": "string"
				},
				{
					"in": "query",
					"name": "image",
					"description": "Image to be used in the character recognition is valid only satisfies the following conditions image.&middot; JPEG or image data of PNG format (transparent PNG is excluded), width and height of 4096 pixels within-recommended character size vertical and horizontal size 32 pixels or more",
					"type": "string"
				},
				{
					"in": "query",
					"name": "job",
					"description": "Recognition job.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lang",
					"description": "Recognize language, specify one of the following.jpn (default)eng",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "message.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Text"],
				"security": []
			}
		},
		"\/cocorobo\/v1\/createApiKey": {
			"post": {
				"summary": "MAC address registration",
				"description": "",
				"operationId": "mac-address-registration",
				"parameters": [{
					"in": "query",
					"name": "500-505",
					"type": "string"
				},
				{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the followingapplication \/ json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data",
					"description": "Response dataResponse of JSON (store information in the child element)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "macaddress",
					"description": "MAC address of COCOROBOto specify the MAC address of COCOROBO.u203b No hyphen 12-digit number or AF (lowercase s)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "resultCode",
					"description": "Result codeis the result code value 0",
					"type": "string"
				}],
				"responses": {
					"success": {
						"description": " - "
					},
					"Content-Type or request body could not be read.": {
						"description": " - "
					},
					"The value of the API key could not be read.": {
						"description": " - "
					},
					"The value of the MAC address could not be read.": {
						"description": " - "
					},
					"MAC address is not correct value.": {
						"description": " - "
					},
					"API key is unknown value.": {
						"description": " - "
					}
				},
				"tags": ["Device"],
				"security": []
			}
		},
		"\/cocorobo\/v1\/speech": {
			"post&nbsp;": {
				"summary": "Voice utterance",
				"description": "",
				"operationId": "voice-utterance",
				"parameters": [{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the followingapplication \/ json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data",
					"description": "Response dataResponse of JSON (child element is null)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "Messagemessage content to speech (up to 255 characters)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "resultCode",
					"description": "Result codeis the result code value 0",
					"type": "string"
				}],
				"responses": {
					"success": {
						"description": " - "
					},
					"Content-Type or request body could not be read.": {
						"description": " - "
					},
					"The value of the API key could not be read.": {
						"description": " - "
					},
					"The value of the MAC address could not be read.": {
						"description": " - "
					},
					"MAC address is not correct value.": {
						"description": " - "
					},
					"API key is unknown value.": {
						"description": " - "
					},
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Speech"],
				"security": []
			}
		},
		"\/crayonCorp\/v1\/textToSpeech": {
			"post&nbsp;": {
				"summary": "Kanji and kana sentence",
				"description": "",
				"operationId": "kanji-and-kana-sentence",
				"parameters": [{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AudioFileFormat",
					"description": "Audio file format, specify one of the following.0: AAC, 22,050Hz (default)1: Ogg Vorbis, 22,050Hz2: 16Bit LinearPCM Wave, 22,050Hz3: 8Bit Myu-Law, 8,000Hz",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Command",
					"description": "Commands utilized by the API, specifies the following.AP_Synth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the following.application \/ json: JSON format",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PowerRate",
					"description": "Specifies the volume (can be specified point to the second place).(Small) from 0.00 to 5.00 (large)Default: 1.00",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SpeakerID",
					"description": "Speaker, specify one of the following.1: Aoi (energetic older sister)2: Sakura (husky older sister)3: Yui (woman)4: Hazuki (calm and woman)5: Kumiko (Aunt)6: Hana (grandmother)7: Airi (girl)8: Himari (maid)9: Tsuyoshi (healing and teeth-based older brother)10: Keisuke (brother of informal)11: Kazuhiro (male)12: Shiro (Uncle)13: Shinichi (boy)14: Tatsuya (Butler)15: Hitoshi (man of mystery)u203bInstitute of informationIf you have not registered the will, 1 and 14 only available.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SpeechRate",
					"description": "Specify the speech speed (can be specified point to the second place).(Slow) from 0.50 to 10.00 (fast)Default: 1.00",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StyleID",
					"description": "Tone is, specify one of the following.1: Aoi (energetic older sister)2: Sakura (husky older sister)3: Yui (woman)4: Hazuki (calm and woman)5: Kumiko (Aunt)6: Hana (grandmother)7: Airi (girl)8: Himari (maid)9: Tsuyoshi (healing and teeth-based older brother)10: Keisuke (brother of informal)11: Kazuhiro (male)12: Shiro (Uncle)13: Shinichi (boy)14: Tatsuya (Butler)15: Hitoshi (man of mystery)u203bInstitute of informationIf you have not registered the will, 1 and 14 only available.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TextData",
					"description": "Text format of speech synthesis target, specify the kanji and kana statement.Sample value) is a speech by the speech synthesis engine of NTT.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "VoiceType",
					"description": "Voice quality is, specify one of the following.(Thick) from 0.50 to 2.00 (thin)Default: 1.00",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-Content-Length",
					"description": "The size of the audio data is returned (in a byte).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-ProtocolVersion",
					"description": "Version of the protocol.Sample value) d-1.0.0",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-ResponseCode",
					"description": "Responsive code, any of the following is returned.200 OK: normal200 OK except: Abnormalu203b except 200 OK, following response code detailsee.",
					"type": "string"
				}],
				"responses": {
					"OK": {
						"description": "Command is completed successfully processed. - Command is completed successfully processed."
					},
					"NG": {
						"description": "To command, it can not be successfully processed. - To command, it can not be successfully processed."
					},
					"Command Not Supported": {
						"description": "It does not support command, the argument is invalid. - It does not support command, the argument is invalid."
					},
					"Request Size Over": {
						"description": "Maximum size over the transmission data. - Maximum size over the transmission data."
					},
					"Data Change Failure": {
						"description": "URL decoding and character code conversion failed. - URL decoding and character code conversion failed."
					},
					"User Max Connect Over": {
						"description": "Exceed the access number of the upper limit of the WebAPI. - Exceed the access number of the upper limit of the WebAPI."
					},
					"Illegal Text": {
						"description": "Synthetic target text is invalid. - Synthetic target text is invalid."
					},
					"Illegal Read": {
						"description": "Incorrect format of Cana accent statement. - Incorrect format of Cana accent statement."
					},
					"Synth Text Max Size Over": {
						"description": "Maximum size over of kanji and kana statement. - Maximum size over of kanji and kana statement."
					},
					"Failed To Deploy SSML": {
						"description": "Failure to deployment of SSML tags. - Failure to deployment of SSML tags."
					},
					"Ilegal Parameter": {
						"description": "Invalid parameter. - Invalid parameter."
					},
					"Illegal Value": {
						"description": "Invalid parameter values. - Invalid parameter values."
					},
					"Parameter Not Exist": {
						"description": "Parameter is not present. - Parameter is not present."
					},
					"TTS Open Error": {
						"description": "Error at the time of channel open of speech synthesis server. - Error at the time of channel open of speech synthesis server."
					},
					"TTS TextAna Error": {
						"description": "Text analysis processing error at the time of the speech synthesis server. - Text analysis processing error at the time of the speech synthesis server."
					},
					"TTS Synth Error": {
						"description": "Error at the time of speech synthesis processing of speech synthesis server. - Error at the time of speech synthesis processing of speech synthesis server."
					},
					"TTS Close Error": {
						"description": "Error at the time of channel close of speech synthesis server. - Error at the time of channel close of speech synthesis server."
					},
					"TTS Not Exist": {
						"description": "Speech synthesis server does not exist. - Speech synthesis server does not exist."
					},
					"TTS Comm Error": {
						"description": "Communication error with the speech synthesis server. - Communication error with the speech synthesis server."
					},
					"TTS Over Connect": {
						"description": "Speech synthesis server is the maximum number of connections over. - Speech synthesis server is the maximum number of connections over."
					},
					"Customer Over Max Connect": {
						"description": "Over the maximum possible number of connections. - Over the maximum possible number of connections."
					},
					"TTS Internal Error": {
						"description": "An internal error occurred in speech synthesis server. - An internal error occurred in speech synthesis server."
					},
					"TTS Exception Error": {
						"description": "Exception occurs in speech synthesis server. - Exception occurs in speech synthesis server."
					},
					"WebAPI Internal Error": {
						"description": "An internal error occurred on this API. - An internal error occurred on this API."
					},
					"Server Error": {
						"description": "Problem in the processing of speech synthesis server side can not be continued. - Problem in the processing of speech synthesis server side can not be continued."
					},
					"Server Busy": {
						"description": "Speech synthesis server can not execute the process crowded. - Speech synthesis server can not execute the process crowded."
					},
					"DB Operation Faild": {
						"description": "Operation of DB to failure. - Operation of DB to failure."
					},
					"Entry Already Exist": {
						"description": "Specified data is duplicated. - Specified data is duplicated."
					},
					"Entry Not Exist": {
						"description": "Specified data does not exist. - Specified data does not exist."
					},
					"Update Failure": {
						"description": "Failure to update process. - Failure to update process."
					},
					"Lock Failure": {
						"description": "Failure to obtain a lock. - Failure to obtain a lock."
					}
				},
				"tags": ["Speech"],
				"security": []
			}
		},
		"\/crayonCorp\/v1\/textToSpeechKanaAccent": {
			"post&nbsp;": {
				"summary": "Kana accent sentence",
				"description": "It returns a string analyzes the voice data.",
				"operationId": "kana-accent-sentence",
				"parameters": [{
					"type": "string"
				},
				{
					"in": "query",
					"name": "-Five",
					"type": "string"
				},
				{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "AudioFileFormat",
					"description": "Audio file format, specify one of the following.0: AAC, 22,050Hz (default)1: Ogg Vorbis, 22,050Hz2: 16Bit LinearPCM Wave, 22,050Hz3: 8Bit Myu-Law, 8,000Hz",
					"type": "string"
				},
				{
					"in": "query",
					"name": "code",
					"description": "Code listrefer to the",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Command",
					"description": "Commands utilized by the API, specifies the following.AP_Synth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "confidence",
					"description": "The reliability of the result of the morphological analysis",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the following.application \/ json: JSON format",
					"type": "string"
				},
				{
					"in": "query",
					"name": "endtime",
					"description": "Utterance end time",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "Content at the time of the error",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Novalue",
					"type": "string"
				},
				{
					"in": "query",
					"name": "One",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Otherstring",
					"type": "string"
				},
				{
					"in": "query",
					"name": "PowerRate",
					"description": "Specifies the volume (can be specified point to the second place).(Small) from 0.00 to 5.00 (large)Default: 1.00",
					"type": "string"
				},
				{
					"in": "query",
					"name": "results",
					"description": "Array of speech recognition results",
					"type": "string"
				},
				{
					"in": "query",
					"name": "rulename",
					"description": "Speech recognition dictionary name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SpeakerID",
					"description": "Speaker, specify one of the following.1: Aoi (energetic older sister)2: Sakura (husky older sister)3: Yui (woman)4: Hazuki (calm and woman)5: Kumiko (Aunt)6: Hana (grandmother)7: Airi (girl)8: Himari (maid)9: Tsuyoshi (healing and teeth-based older brother)10: Keisuke (brother of informal)11: Kazuhiro (male)12: Shiro (Uncle)13: Shinichi (boy)14: Tatsuya (Butler)15: Hitoshi (man of mystery)u203bInstitute of informationIf you have not registered the will, 1 and 14 only available.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "SpeechRate",
					"description": "Specify the speech speed (can be specified point to the second place).(Slow) from 0.50 to 10.00 (fast)Default: 1.00",
					"type": "string"
				},
				{
					"in": "query",
					"name": "spoken",
					"description": "Of morphological analysis results reading",
					"type": "string"
				},
				{
					"in": "query",
					"name": "starttime",
					"description": "Utterance start time",
					"type": "string"
				},
				{
					"in": "query",
					"name": "StyleID",
					"description": "Tone is, specify one of the following.1: Aoi (energetic older sister)2: Sakura (husky older sister)3: Yui (woman)4: Hazuki (calm and woman)5: Kumiko (Aunt)6: Hana (grandmother)7: Airi (girl)8: Himari (maid)9: Tsuyoshi (healing and teeth-based older brother)10: Keisuke (brother of informal)11: Kazuhiro (male)12: Shiro (Uncle)13: Shinichi (boy)14: Tatsuya (Butler)15: Hitoshi (man of mystery)u203bInstitute of informationIf you have not registered the will, 1 and 14 only available.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "tags",
					"description": "unused",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "Speech recognition result string",
					"type": "string"
				},
				{
					"in": "query",
					"name": "TextData",
					"description": "Text format of speech synthesis target, specify the Kana accent statement.Sample value) NTT tea Tino [\/ 05] Onse over Go save engine two [* 09] night [\/ 00] Onsedesu ^ [. 01]u203b For Kana accent statement specification,API specificationsee.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "tokens",
					"description": "The recognition result text of morpheme array of",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Two",
					"type": "string"
				},
				{
					"in": "query",
					"name": "utteranceid",
					"description": "Utterance ID that server issues",
					"type": "string"
				},
				{
					"in": "query",
					"name": "VoiceType",
					"description": "Voice quality is, specify one of the following.(Thick) from 0.50 to 2.00 (thin)Default: 1.00",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-Content-Length",
					"description": "The size of the audio data is returned (in a byte).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-ProtocolVersion",
					"description": "Version of the protocol.Sample value) d-1.0.0",
					"type": "string"
				},
				{
					"in": "query",
					"name": "X-ResponseCode",
					"description": "Responsive code, any of the following is returned.200 OK: normal200 OK except: Abnormalu203b except 200 OK, following response code detailsee.",
					"type": "string"
				}],
				"responses": {
					"OK": {
						"description": "Command is completed successfully processed. - Command is completed successfully processed."
					},
					"NG": {
						"description": "To command, it can not be successfully processed. - To command, it can not be successfully processed."
					},
					"Command Not Supported": {
						"description": "It does not support command, the argument is invalid. - It does not support command, the argument is invalid."
					},
					"Request Size Over": {
						"description": "Maximum size over the transmission data. - Maximum size over the transmission data."
					},
					"Data Change Failure": {
						"description": "URL decoding and character code conversion failed. - URL decoding and character code conversion failed."
					},
					"User Max Connect Over": {
						"description": "Exceed the access number of the upper limit of the WebAPI. - Exceed the access number of the upper limit of the WebAPI."
					},
					"Illegal Text": {
						"description": "Synthetic target text is invalid. - Synthetic target text is invalid."
					},
					"Illegal Read": {
						"description": "Incorrect format of Cana accent statement. - Incorrect format of Cana accent statement."
					},
					"Synth Text Max Size Over": {
						"description": "Maximum size over of kanji and kana statement. - Maximum size over of kanji and kana statement."
					},
					"Failed To Deploy SSML": {
						"description": "Failure to deployment of SSML tags. - Failure to deployment of SSML tags."
					},
					"Ilegal Parameter": {
						"description": "Invalid parameter. - Invalid parameter."
					},
					"Illegal Value": {
						"description": "Invalid parameter values. - Invalid parameter values."
					},
					"Parameter Not Exist": {
						"description": "Parameter is not present. - Parameter is not present."
					},
					"TTS Open Error": {
						"description": "Error at the time of channel open of speech synthesis server. - Error at the time of channel open of speech synthesis server."
					},
					"TTS TextAna Error": {
						"description": "Text analysis processing error at the time of the speech synthesis server. - Text analysis processing error at the time of the speech synthesis server."
					},
					"TTS Synth Error": {
						"description": "Error at the time of speech synthesis processing of speech synthesis server. - Error at the time of speech synthesis processing of speech synthesis server."
					},
					"TTS Close Error": {
						"description": "Error at the time of channel close of speech synthesis server. - Error at the time of channel close of speech synthesis server."
					},
					"TTS Not Exist": {
						"description": "Speech synthesis server does not exist. - Speech synthesis server does not exist."
					},
					"TTS Comm Error": {
						"description": "Communication error with the speech synthesis server. - Communication error with the speech synthesis server."
					},
					"TTS Over Connect": {
						"description": "Speech synthesis server is the maximum number of connections over. - Speech synthesis server is the maximum number of connections over."
					},
					"Customer Over Max Connect": {
						"description": "Over the maximum possible number of connections. - Over the maximum possible number of connections."
					},
					"TTS Internal Error": {
						"description": "An internal error occurred in speech synthesis server. - An internal error occurred in speech synthesis server."
					},
					"TTS Exception Error": {
						"description": "Exception occurs in speech synthesis server. - Exception occurs in speech synthesis server."
					},
					"WebAPI Internal Error": {
						"description": "An internal error occurred on this API. - An internal error occurred on this API."
					},
					"Server Error": {
						"description": "Problem in the processing of speech synthesis server side can not be continued. - Problem in the processing of speech synthesis server side can not be continued."
					},
					"Server Busy": {
						"description": "Speech synthesis server can not execute the process crowded. - Speech synthesis server can not execute the process crowded."
					},
					"DB Operation Faild": {
						"description": "Operation of DB to failure. - Operation of DB to failure."
					},
					"Entry Already Exist": {
						"description": "Specified data is duplicated. - Specified data is duplicated."
					},
					"Entry Not Exist": {
						"description": "Specified data does not exist. - Specified data does not exist."
					},
					"Update Failure": {
						"description": "Failure to update process. - Failure to update process."
					},
					"Lock Failure": {
						"description": "Failure to obtain a lock. - Failure to obtain a lock."
					}
				},
				"tags": ["Speech",
				" Text"],
				"security": []
			}
		},
		"\/dialogue\/v1\/dialogue": {
			"post&nbsp;": {
				"summary": "Chat dialogue",
				"description": "&nbsp;",
				"operationId": "chat-dialogue",
				"parameters": [{
					"in": "query",
					"name": "age",
					"description": "Specify the age of the user (a positive integer (up to 3 characters))sample value) 16",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Aikawa",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Aomori",
					"description": "Fukaura",
					"type": "string"
				},
				{
					"in": "query",
					"name": "APIKEY",
					"description": "To use the app authentication of access to the API",
					"type": "string"
				},
				{
					"in": "query",
					"name": "birthdateD",
					"description": "Specify the users birth date (day) (one of the integer from 1 to 31)sample values) 30",
					"type": "string"
				},
				{
					"in": "query",
					"name": "birthdateM",
					"description": "Specify the users birth date (month) (any integer from 1 to 12)sample value) 5",
					"type": "string"
				},
				{
					"in": "query",
					"name": "birthdateY",
					"description": "Users birthday (year) the designation (1 to any integer up to now (up to 4 characters))sample value) 1997",
					"type": "string"
				},
				{
					"in": "query",
					"name": "bloodtype",
					"description": "Blood type of user, specify one of the followingA, B, AB, O",
					"type": "string"
				},
				{
					"in": "query",
					"name": "constellations",
					"description": "Constellation of the user, specify one of the followingAries, Taurus, Gemini, Cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius, Pisces",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "MIME type of the transmitted data, specify the followingapplication \/ json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "context",
					"description": "Specifies the context ID (255 characters or less)sample value) aaabbbccc111222333If you want to continue the conversation u203b (shiritori) specifies the value of the context of the response body",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Fukuoka",
					"description": "Iizuka",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Ichinoseki",
					"description": "Ofunato",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mode",
					"description": "Mode of dialogue, specify one of the followingdialog (default)SrtrIf you want to continue the conversation u203b (shiritori) specifies the value of the mode of response body",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Much",
					"description": "Hita",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Nagano",
					"description": "Suwa",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Nagoya",
					"description": "Fukui",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Naha",
					"description": "Kumejima",
					"type": "string"
				},
				{
					"in": "query",
					"name": "nickname",
					"description": "Specify the nickname of the user (10 full-width characters (up to 10 characters) or less)sample values) light",
					"type": "string"
				},
				{
					"in": "query",
					"name": "nickname_y",
					"description": "Specify the reading of the users nickname (40 characters or less (Katakana only))sample value) Hikari",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Niihama",
					"description": "Kochi",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Nobeoka",
					"description": "Takachiho",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Oshima",
					"description": "Chichijima",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Otsu",
					"description": "Tsu",
					"type": "string"
				},
				{
					"in": "query",
					"name": "overseas",
					"type": "string"
				},
				{
					"in": "query",
					"name": "place",
					"description": "Local information of the user,location listspecify any of those included in thesample value) Tokyo",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sex",
					"description": "User of gender, specify one of the followingman, woman",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Shiraishi",
					"description": "Koriyama",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Shizuoka",
					"description": "Irozaki",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Shobara",
					"description": "Yamaguchi",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Tottori",
					"description": "Okayama",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Urakawa",
					"description": "Iwamizawa",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Utsunomiya",
					"description": "Mito",
					"type": "string"
				},
				{
					"in": "query",
					"name": "utt",
					"description": "Specify the utterance of the user (255 characters or less)sample value) Hello",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Wakayama",
					"description": "Osaka",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Wakkanai",
					"description": "Rumoi",
					"type": "string"
				},
				{
					"in": "query",
					"name": "yomi",
					"description": "Return the likely wrong reading aloud kanji and katakanathe same content as the utt for general wordsample value) Hello Hikaris",
					"type": "string"
				}],
				"responses": {
					"OK": {
						"description": "Command is completed successfully processed. - Command is completed successfully processed."
					},
					"NG": {
						"description": "To command, it can not be successfully processed. - To command, it can not be successfully processed."
					},
					"Command Not Supported": {
						"description": "It does not support command, the argument is invalid. - It does not support command, the argument is invalid."
					},
					"Request Size Over": {
						"description": "Maximum size over the transmission data. - Maximum size over the transmission data."
					},
					"Data Change Failure": {
						"description": "URL decoding and character code conversion failed. - URL decoding and character code conversion failed."
					},
					"User Max Connect Over": {
						"description": "Exceed the access number of the upper limit of the WebAPI. - Exceed the access number of the upper limit of the WebAPI."
					},
					"Illegal Text": {
						"description": "Synthetic target text is invalid. - Synthetic target text is invalid."
					},
					"Illegal Read": {
						"description": "Incorrect format of Cana accent statement. - Incorrect format of Cana accent statement."
					},
					"Synth Text Max Size Over": {
						"description": "Maximum size over of kanji and kana statement. - Maximum size over of kanji and kana statement."
					},
					"Failed To Deploy SSML": {
						"description": "Failure to deployment of SSML tags. - Failure to deployment of SSML tags."
					},
					"Ilegal Parameter": {
						"description": "Invalid parameter. - Invalid parameter."
					},
					"Illegal Value": {
						"description": "Invalid parameter values. - Invalid parameter values."
					},
					"Parameter Not Exist": {
						"description": "Parameter is not present. - Parameter is not present."
					},
					"TTS Open Error": {
						"description": "Error at the time of channel open of speech synthesis server. - Error at the time of channel open of speech synthesis server."
					},
					"TTS TextAna Error": {
						"description": "Text analysis processing error at the time of the speech synthesis server. - Text analysis processing error at the time of the speech synthesis server."
					},
					"TTS Synth Error": {
						"description": "Error at the time of speech synthesis processing of speech synthesis server. - Error at the time of speech synthesis processing of speech synthesis server."
					},
					"TTS Close Error": {
						"description": "Error at the time of channel close of speech synthesis server. - Error at the time of channel close of speech synthesis server."
					},
					"TTS Not Exist": {
						"description": "Speech synthesis server does not exist. - Speech synthesis server does not exist."
					},
					"TTS Comm Error": {
						"description": "Communication error with the speech synthesis server. - Communication error with the speech synthesis server."
					},
					"TTS Over Connect": {
						"description": "Speech synthesis server is the maximum number of connections over. - Speech synthesis server is the maximum number of connections over."
					},
					"Customer Over Max Connect": {
						"description": "Over the maximum possible number of connections. - Over the maximum possible number of connections."
					},
					"TTS Internal Error": {
						"description": "An internal error occurred in speech synthesis server. - An internal error occurred in speech synthesis server."
					},
					"TTS Exception Error": {
						"description": "Exception occurs in speech synthesis server. - Exception occurs in speech synthesis server."
					},
					"WebAPI Internal Error": {
						"description": "An internal error occurred on this API. - An internal error occurred on this API."
					},
					"Server Error": {
						"description": "Problem in the processing of speech synthesis server side can not be continued. - Problem in the processing of speech synthesis server side can not be continued."
					},
					"Server Busy": {
						"description": "Speech synthesis server can not execute the process crowded. - Speech synthesis server can not execute the process crowded."
					},
					"DB Operation Faild": {
						"description": "Operation of DB to failure. - Operation of DB to failure."
					},
					"Entry Already Exist": {
						"description": "Specified data is duplicated. - Specified data is duplicated."
					},
					"Entry Not Exist": {
						"description": "Specified data does not exist. - Specified data does not exist."
					},
					"Update Failure": {
						"description": "Failure to update process. - Failure to update process."
					},
					"Lock Failure": {
						"description": "Failure to obtain a lock. - Failure to obtain a lock."
					},
					"If you return a response normally": {
						"description": " - "
					},
					"In the case of request parameters failure": {
						"description": " - "
					},
					"If an unexpected error occurs in the server": {
						"description": " - "
					}
				},
				"tags": ["Chat"],
				"security": []
			}
		},
		"\/ekispertCorp\/v1\/courseCreate": {
			"get": {
				"summary": "Generation of route",
				"description": "nTrain timetable&nbsp;is the path generation function using the results of.&nbsp;Station, train, date, by setting the time correctly, you can generate any of the route.nThe information required to generate a route there is something like the following,n &lt;A Requested Procedure Eki&gt; (date when the Requested Procedure)? [Train]? (To the time) &lt;to the Eki&gt;nYou specify these as follows.n viaList = departure station: arrival station &amp; fixedTrainList = train &amp; fixedTimeList = departure time: arrival time &amp; fixedDateList = departure date (service day)nFor station code and station namenYou can use the station code or station name as the data that identifies the station, but if you want to use as a premise to save is recommended to station code.&nbsp;Station name might be changed in the station name was renamed, etc., but brute string to the station name, station code is a constant regardless of the change of station name.n",
				"operationId": "generation-of-route",
				"parameters": [{
					"in": "query",
					"name": "fixedDateList",
					"description": "Trains run day (YYYYMMDD)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fixedTimeList",
					"description": "Train arrival and departure time (HHMM) (multiple specified)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fixedTrainList",
					"description": "Train timetableLineCode that can be obtained from the (multiple specified)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "viaList",
					"description": "Station code or a list of the station name (multiple specified)",
					"type": "string"
				}],
				"responses": {
					"OK": {
						"description": "Command is completed successfully processed. - Command is completed successfully processed."
					},
					"NG": {
						"description": "To command, it can not be successfully processed. - To command, it can not be successfully processed."
					},
					"Command Not Supported": {
						"description": "It does not support command, the argument is invalid. - It does not support command, the argument is invalid."
					},
					"Request Size Over": {
						"description": "Maximum size over the transmission data. - Maximum size over the transmission data."
					},
					"Data Change Failure": {
						"description": "URL decoding and character code conversion failed. - URL decoding and character code conversion failed."
					},
					"User Max Connect Over": {
						"description": "Exceed the access number of the upper limit of the WebAPI. - Exceed the access number of the upper limit of the WebAPI."
					},
					"Illegal Text": {
						"description": "Synthetic target text is invalid. - Synthetic target text is invalid."
					},
					"Illegal Read": {
						"description": "Incorrect format of Cana accent statement. - Incorrect format of Cana accent statement."
					},
					"Synth Text Max Size Over": {
						"description": "Maximum size over of kanji and kana statement. - Maximum size over of kanji and kana statement."
					},
					"Failed To Deploy SSML": {
						"description": "Failure to deployment of SSML tags. - Failure to deployment of SSML tags."
					},
					"Ilegal Parameter": {
						"description": "Invalid parameter. - Invalid parameter."
					},
					"Illegal Value": {
						"description": "Invalid parameter values. - Invalid parameter values."
					},
					"Parameter Not Exist": {
						"description": "Parameter is not present. - Parameter is not present."
					},
					"TTS Open Error": {
						"description": "Error at the time of channel open of speech synthesis server. - Error at the time of channel open of speech synthesis server."
					},
					"TTS TextAna Error": {
						"description": "Text analysis processing error at the time of the speech synthesis server. - Text analysis processing error at the time of the speech synthesis server."
					},
					"TTS Synth Error": {
						"description": "Error at the time of speech synthesis processing of speech synthesis server. - Error at the time of speech synthesis processing of speech synthesis server."
					},
					"TTS Close Error": {
						"description": "Error at the time of channel close of speech synthesis server. - Error at the time of channel close of speech synthesis server."
					},
					"TTS Not Exist": {
						"description": "Speech synthesis server does not exist. - Speech synthesis server does not exist."
					},
					"TTS Comm Error": {
						"description": "Communication error with the speech synthesis server. - Communication error with the speech synthesis server."
					},
					"TTS Over Connect": {
						"description": "Speech synthesis server is the maximum number of connections over. - Speech synthesis server is the maximum number of connections over."
					},
					"Customer Over Max Connect": {
						"description": "Over the maximum possible number of connections. - Over the maximum possible number of connections."
					},
					"TTS Internal Error": {
						"description": "An internal error occurred in speech synthesis server. - An internal error occurred in speech synthesis server."
					},
					"TTS Exception Error": {
						"description": "Exception occurs in speech synthesis server. - Exception occurs in speech synthesis server."
					},
					"WebAPI Internal Error": {
						"description": "An internal error occurred on this API. - An internal error occurred on this API."
					},
					"Server Error": {
						"description": "Problem in the processing of speech synthesis server side can not be continued. - Problem in the processing of speech synthesis server side can not be continued."
					},
					"Server Busy": {
						"description": "Speech synthesis server can not execute the process crowded. - Speech synthesis server can not execute the process crowded."
					},
					"DB Operation Faild": {
						"description": "Operation of DB to failure. - Operation of DB to failure."
					},
					"Entry Already Exist": {
						"description": "Specified data is duplicated. - Specified data is duplicated."
					},
					"Entry Not Exist": {
						"description": "Specified data does not exist. - Specified data does not exist."
					},
					"Update Failure": {
						"description": "Failure to update process. - Failure to update process."
					},
					"Lock Failure": {
						"description": "Failure to obtain a lock. - Failure to obtain a lock."
					},
					"If you return a response normally": {
						"description": " - "
					},
					"In the case of request parameters failure": {
						"description": " - "
					},
					"If an unexpected error occurs in the server": {
						"description": " - "
					},
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Transportation"],
				"security": []
			}
		},
		"\/ekispertCorp\/v1\/courseRepayment": {
			"get": {
				"summary": "Refund calculation of season ticket",
				"description": "nObtain multiple combinations of commuter pass which is the basis of the refund calculationnFor station code and station namenYou can use the station code or station name as the data that identifies the station, but if you want to use as a premise to save is recommended to station code.&nbsp;Station name might be changed in the station name was renamed, etc., but brute string to the station name, station code is a constant regardless of the change of station name.n",
				"operationId": "refund-calculation-of-season-ticket",
				"parameters": [{
					"in": "query",
					"name": "buydat to",
					"description": "Season ticket purchase date (YYYYMMDD) (optional. The default is the effective start date the same day treatment)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "changeSection",
					"description": "Or not to apply a formula of the time interval changes to the refund.Apply: true, does not apply: false (. Optional default does not apply)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "repaymentDate",
					"description": "Season ticket refund Date (YYYYMMDD) (optional. The default is now become the date)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "separator",
					"description": "Section split (multiple designation possible. Optional. The default is not divided)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "serializeData",
					"description": "Route serialized data",
					"type": "string"
				},
				{
					"in": "query",
					"name": "startDate",
					"description": "Season ticket valid start date (YYYYMMDD) (optional. The default is now become the date)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "validityPeriod",
					"description": "Season ticket validity period.The possible values u200bu200bare 1, 3, 6 (months) (optional. The default will be 6 months)",
					"type": "int"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Transportation"],
				"security": []
			}
		},
		"\/ekispertCorp\/v1\/courseTimetableTrain": {
			"get": {
				"summary": "Interval timetable&nbsp;train information of",
				"description": "nInterval timetable&nbsp;to get the train information in the datanFor station code and station namenYou can use the station code or station name as the data that identifies the station, but if you want to use as a premise to save is recommended to station code.&nbsp;Station name might be changed in the station name was renamed, etc., but brute string to the station name, station code is a constant regardless of the change of station name.n",
				"operationId": "interval-timetablenbsptrain-information-of",
				"parameters": [{
					"in": "query",
					"name": "code",
					"description": "Code to identify the train, etc.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Transportation"],
				"security": []
			}
		},
		"\/ekispertCorp\/v1\/dataversion": {
			"get": {
				"summary": "Data version",
				"description": "nTo get more information on the data after the station span",
				"operationId": "data-version",
				"parameters": [{
					"type": "apiversion"
				},
				{
					"in": "query",
					"name": "ResultSet",
					"type": "the root element"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Transportation"],
				"security": []
			}
		},
		"\/ekispertCorp\/v1\/searchCourseExtreme": {
			"get": {
				"summary": "Road Exploration",
				"description": "nBetween the specified station or point, and search for a route using public transportation.&nbsp;Search by the average waiting time and, search by the diamond (departure time search, etc.) can be done.nSearch by the average waiting timenTaking into account the average waiting time of the train you do a search for a route.&nbsp;The average waiting time is, thats flying has been set in about 20 minutes, even if there is only one flight per day, it does not match the actual waiting time.&nbsp;In addition, with regard to the comprehensive coverage that operate by day of the week, we try to search for a route to ignore the departure date.nInter u30a4 Yakult ni yo ru Exploration (Requested Procedure time to explore, the time to explore, and finally electrical exploration, beginning to explore Requested Procedure)nFrom diamond timetable,nnDeparture time search, early arrival and late departure routenRoute arrival time search is to arrive early and late departurenRoute last train search, to arrive at the final diamond of departure \/ arrival date (until the next day at 3 am)nRoute first train search, to the earliest arriving starting to departure \/ arrival datennIt will search each.nResult route may not exist as (have to suppress the use of the airplane in the search to the airport, the route can not be created in a fixed route, etc.), an empty result is returned instead of the error.nFor station code and station namenYou can use the station code or station name as the data that identifies the station, but if you want to use as a premise to save is recommended to station code.&nbsp;Station name might be changed in the station name was renamed, etc., but brute string to the station name, station code is a constant regardless of the change of station name.n",
				"operationId": "-road-exploration",
				"parameters": [{
					"in": "query",
					"name": "answerCount",
					"description": "The maximum number of responses.Up to 20 (optional. The default will be 5)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "assignDetailRoute",
					"description": "Periodic allocation for detailed route string.Station name: route name: Direction: station name ... list (Optional .assignRoute exclusive)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "assignNikukanteikiIndex",
					"description": "If a regular assignment for the path of the second section regularly, to specify the index of PassStatus representing the state.(Multiple specifications are allowed. If the index of the same period is specified to specify more than one time will apply any one. Optional. The default is regularly assigned route becomes a regular periodic)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "assignRoute",
					"description": "Regular allocation for the path string.Station name: route name: station name ... list (Optional .assignDetailRoute exclusive)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cause the sign element error",
					"description": "An error in the case of assignment error (optional. The default is not to generate false (allocation error))",
					"type": "string"
				},
				{
					"in": "query",
					"name": "conditionDetail",
					"description": "More search condition data.Search condition generationcan be obtained from the (optional. The default is the default condition)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "corporationBind",
					"description": "Fixed company name.Only the specified company will use (multiple designation possible. Up to 10. Optional. The default will be unlimited normal search)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "coupon",
					"description": "Assignmenttickets detailname (optional)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date",
					"description": "Search date (YYYYMMDD) (optional. The default is now become the date)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "fixedRailDirectionList",
					"description": "Direction list of fixed routes.searchType = plain, fixedRailList specified only when enabled (optional. The default will automatically determine the direction)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fixedRailList",
					"description": "The name list of the fixed route.searchType = plain specified only when enabled (optional. The default is not to secure the route)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "interruptCorporationList",
					"description": "Impassable company list.Find the route that does not use the specified company.(SearchType:.. In the case of plain only effective Optional default will be unlimited normal search)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "interruptRailList",
					"description": "Impassable route list.Find the route that does not use the specified route.(SearchType:.. In the case of plain only effective Optional default will be unlimited normal search)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "resultDetail",
					"description": "Result to append the detailed information.addCorporation: adding a company to route (. Optional default becomes a regular result)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "searchCount",
					"description": "Maximum search number.Up to 20 (optional. The default will be 5)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "searchType",
					"description": "Search type(if it is optional. Omitted, will be the departure time search)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sort",
					"description": "Sort type.ekispert: station spa after search order price: fee order time: time order teiki: season ticket charges order transfer: transfer order of the number of co2: CO2 emissions order teiki1: 1 month commuter pass fees order teiki3: a 3-month season ticket Rates order teiki6: 6 month season ticket charges order (. If it is omitted omitted, will be the station spa after search order)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "time",
					"description": "Search time (HHMM) (optional. The default is the current time)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "viaList",
					"description": "List, such as the station code or coordinates (multiple designation possible. Maximum 20 about is a standard)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Transportation"],
				"security": []
			}
		},
		"\/ekispertCorp\/v1\/searchCoursePlain": {
			"get": {
				"summary": "Average waiting time search",
				"description": "nThe average waiting time search only&nbsp;route search&nbsp;is.nFor station code and station namenYou can use the station code or station name as the data that identifies the station, but if you want to use as a premise to save is recommended to station code.&nbsp;Station name might be changed in the station name was renamed, etc., but brute string to the station name, station code is a constant regardless of the change of station name.n",
				"operationId": "the-average-waiting-time-search",
				"parameters": [{
					"in": "query",
					"name": "bus",
					"description": "Bus (route bus and high-speed bus).To use: true, do not use: false (. Optional default will be to use)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date",
					"description": "Search date (YYYYMMDD) (optional. The default is now become the date)",
					"type": "int"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Departure station.Station code (or station name),coordinate information(radius added), you can specify the point data",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limitedExpress",
					"description": "Express.To use: true, do not use: false (. Optional default will be to use)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "plane",
					"description": "airplane.To use: true, do not use: false (. Optional default will be to use)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "shinkansen",
					"description": "Shinkansen (including Nozomi).To use: true, do not use: false (. Optional default will be to use)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "Arrival station.Station code (or station name),coordinate information(radius added), you can specify the point data",
					"type": "string"
				},
				{
					"in": "query",
					"name": "via",
[...]
